@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

:root {
  --background: #efecec;
  --primary: #171717;
  --secondary: #525252;
  --hover: #f3f4f6;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-hover: var(--hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --primary: #d1d5dc;
    --secondary: #6a7282;
    --hover: #081021;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

.bottom-Nav {
  @apply flex flex-col hover:text-red-400 items-center;
}

.shadow {
  @apply shadow-[6px_6px_12px_#c5c5c5,-6px_-6px_12px_#ffffff] dark:shadow-[10px_10px_20px_#313c4a,-10px_-10px_20px_#1e252e] cursor-pointer;
}

.scaled {
  @apply group-hover:scale-110 transition-transform duration-200;
}

.labelStyle {
  @apply block text-sm font-semibold text-secondary mb-1;
}
.inputStyle {
  @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent placeholder:text-secondary;
}